@charset "UTF-8";
* {
  margin: 0;
  padding: 0;
}

body {
  height: 100%;
  width: 375px;
  margin: 0 auto;
  font-size: 15px;
  background-color: #fffef8;
  line-height: 1.5;
  font-family: Arial, Helvetica, sans-serif;
  color: #000;
}

body HTML CSSResult Skip Results Iframe EDIT ON .opening {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  width: 100%;
  height: 100vh;
}

body .opening::before {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  background-color: #111;
  -webkit-animation: opening 2.1s forwards;
          animation: opening 2.1s forwards;
}

@-webkit-keyframes opening {
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

@keyframes opening {
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    opacity: 0;
    z-index: -1;
  }
}

body .opening::after {
  content: '';
  position: fixed;
  top: 0;
  left: 0;
  width: 0;
  height: 10px;
  background-color: #d3ac07;
  -webkit-animation: openingline 2s forwards;
          animation: openingline 2s forwards;
}

@-webkit-keyframes openingline {
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
    z-index: -1;
  }
}

@keyframes openingline {
  99% {
    opacity: 1;
    z-index: 1;
  }
  100% {
    width: 100%;
    opacity: 0;
    z-index: -1;
  }
}

h1 {
  margin: 0;
}

p,
li {
  line-height: 2rem;
}

a {
  text-decoration: none;
  color: #000;
}

li {
  list-style: none;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  letter-spacing: 0;
}

.header {
  height: 60px;
  z-index: 3;
}

.header_left .title {
  position: fixed;
  top: 20px;
  left: 20px;
  font-size: 20px;
  line-height: 1em;
  float: left;
  z-index: 3;
}

.header_right {
  float: right;
  z-index: 3;
  z-index: 90;
}

.header_right .menu-btn {
  position: fixed;
  right: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 60px;
  width: 60px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  z-index: 90;
}

.header_right .menu-btn span,
.header_right .menu-btn span:before,
.header_right .menu-btn span:after {
  content: '';
  display: block;
  height: 3px;
  width: 25px;
  border-radius: 3px;
  background-color: #000;
  position: absolute;
}

.header_right .menu-btn span:before {
  bottom: 8px;
}

.header_right .menu-btn span:after {
  top: 8px;
}

.header_right #menu-btn-check:checked ~ .menu-btn span {
  background-color: rgba(255, 255, 255, 0);
  /*メニューオープン時は真ん中の線を透明にする*/
}

.header_right #menu-btn-check:checked ~ .menu-btn span::before {
  bottom: 0;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

.header_right #menu-btn-check:checked ~ .menu-btn span::after {
  top: 0;
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

.header_right #menu-btn-check {
  display: none;
}

.header_right .menu-content {
  width: 90%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 80;
  background-color: #ffd54d;
}

.header_right .menu-content ul {
  padding: 70px 10px 0;
}

.header_right .menu-content ul li {
  border-bottom: solid 2px #000;
  list-style: none;
  margin-top: 10px;
}

.header_right .menu-content ul li a {
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #000;
  font-weight: bold;
  text-decoration: none;
  padding: 9px 15px 10px 0;
  position: relative;
}

.header_right .menu-content ul li .menu_icon {
  margin: 0 6px;
}

.header_right .menu-content ul li a::before {
  content: "";
  width: 7px;
  height: 7px;
  border-top: solid 2px #000;
  border-right: solid 2px #000;
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
  position: absolute;
  right: 11px;
  top: 16px;
}

.header_right .menu-content {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 100%;
  /*leftの値を変更してメニューを画面外へ*/
  z-index: 80;
  background-color: #ffd54d;
  -webkit-transition: all 0.5s;
  transition: all 0.5s;
  /*アニメーション設定*/
}

.header_right #menu-btn-check:checked ~ .menu-content {
  left: 0;
  /*メニューを画面内へ*/
}

.header .clear {
  clear: both;
}

.footer {
  position: relative;
  text-align: center;
}

.footer_image {
  width: 30%;
  position: relative;
  top: 100px;
  -webkit-filter: drop-shadow(0 0 0.3rem black);
          filter: drop-shadow(0 0 0.3rem black);
}

.footer_text {
  color: #444;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
  position: relative;
  top: 100px;
  padding-bottom: 10px;
}

#top .main {
  margin: 0;
  width: 375px;
}

#top .main section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #edece6;
}

#top .main section .section_title {
  text-align: center;
  margin: 16px 0;
  padding-bottom: 10px;
}

#top .main section .section_title i {
  margin-right: 6px;
}

#top .main .logs {
  position: relative;
  /* ふわっとアニメーション */
}

#top .main .logs_list_item {
  width: 100%;
}

#top .main .logs_image {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  border-radius: 10px;
}

#top .main .logs_image_tag {
  display: block;
  background-color: #fffef8;
  width: 300px;
  z-index: 10;
  position: relative;
  top: calc(500px - 100px);
  border-top-right-radius: 10px;
  padding: 10px;
}

#top .main .logs_image_tag h3 {
  font-size: 0.8rem;
  color: #ffd54d;
}

#top .main .logs_image_tag .text {
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.6;
}

#top .main .logs_image_tag .place {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #444;
}

#top .main .logs_image_tag .hashtag_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top .main .logs_image_tag .hashtag_list_item {
  color: #666;
  font-size: 0.8rem;
  margin-right: 4px;
}

#top .main .logs_image_01 {
  background-image: url("../img/top.jpeg");
}

#top .main .logs_image_02 {
  background-image: url("../img/oneyear.jpeg");
}

#top .main .logs_image_03 {
  background-image: url("../img/tranporin.JPG");
}

#top .main .logs_image_04 {
  background-image: url("../img/azisai.JPG");
}

#top .main .logs_image_05 {
  background-image: url("../img/kourankei.jpeg");
}

#top .main .logs_image_06 {
  background-image: url("../img/kimono.jpeg");
}

#top .main .logs_image_07 {
  background-image: url("../img/sakushima.jpeg");
}

#top .main .logs_image_08 {
  background-image: url("../img/syounairyokuti.jpeg");
}

#top .main .logs_image_09 {
  background-image: url("../img/shibahu.jpeg");
}

#top .main .logs_image_10 {
  background-image: url("../img/record.PNG");
}

#top .main .logs_list {
  position: relative;
}

#top .main .logs_list_item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: anime 30s 2s infinite;
  animation: anime 30s 2s infinite;
}

#top .main .logs_list_item:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

#top .main .logs_list_item:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

#top .main .logs .link_button_album {
  position: absolute;
  top: 600px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ffd54d;
  border-radius: 10px;
  background-color: #ffd54d;
  color: #fffef8;
}

#top .main .logs .link_button_album .link_icon {
  margin-right: 6px;
}

#top .main .event {
  position: relative;
  top: 640px;
  /* ふわっとアニメーション */
}

#top .main .event_list_item {
  width: 100%;
}

#top .main .event_image {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  border-radius: 10px;
}

#top .main .event_image_tag {
  display: block;
  background-color: #fffef8;
  width: 300px;
  z-index: 10;
  position: relative;
  top: calc(240px - 100px);
  border-top-right-radius: 10px;
  padding: 10px;
}

#top .main .event_image_tag h3 {
  font-size: 0.8rem;
  color: #ffd54d;
}

#top .main .event_image_tag .text {
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.6;
}

#top .main .event_image_tag .place {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #444;
}

#top .main .event_image_tag .hashtag_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#top .main .event_image_tag .hashtag_list_item {
  color: #666;
  font-size: 0.8rem;
  margin-right: 4px;
}

#top .main .event_image_01 {
  background-image: url("../img/usj.jpeg");
}

#top .main .event_image_02 {
  background-image: url("../img/twoyears.jpg");
}

#top .main .event_image_03 {
  background-image: url("../img/christmas02.jpeg");
}

#top .main .event_image_04 {
  background-image: url("../img/haginaka.JPG");
}

#top .main .event_image_05 {
  background-image: url("../img/naiteishiki.JPG");
}

#top .main .event_list {
  position: relative;
}

#top .main .event_list_item {
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
  -webkit-animation: anime 30s 2s infinite;
  animation: anime 30s 2s infinite;
}

#top .main .event_list_item:nth-of-type(2) {
  -webkit-animation-delay: 10s;
  animation-delay: 10s;
}

#top .main .event_list_item:nth-of-type(3) {
  -webkit-animation-delay: 20s;
  animation-delay: 20s;
}

@keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes anime {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  35% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    z-index: 9;
  }
  100% {
    opacity: 0;
  }
}

#top .main .event .link_button_news {
  position: absolute;
  top: 400px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ffd54d;
  border-radius: 10px;
  background-color: #ffd54d;
  color: #fffef8;
}

#top .main .event .link_button_news .link_icon {
  margin-right: 6px;
}

#top .main .post {
  position: relative;
  top: 1000px;
}

#top .main .post_image {
  margin-bottom: 20px;
  width: 100%;
  opacity: 0.7;
  height: 300px;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 10px;
}

#top .main .post_image_title {
  color: #fffef8;
  opacity: 1;
  text-align: center;
  position: relative;
  top: 100px;
  font-size: 2rem;
  background-color: rgba(0, 0, 0, 0.6);
  padding: 1rem 0;
  width: 96%;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
}

#top .main .post_image_title_orange {
  color: #e29c05;
}

#top .main .post_image_01 {
  background-image: url("../img/tsurugi.jpeg");
}

#top .main .post_image_02 {
  background-image: url("../img/camp.jpg");
}

#top .main .post .link_button_post {
  position: absolute;
  top: 730px;
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 100%;
  margin: 0 auto;
  border: 1px solid #ffd54d;
  border-radius: 10px;
  background-color: #ffd54d;
  color: #fffef8;
}

#top .main .post .link_button_post .link_icon {
  margin-right: 6px;
}

#top .footer {
  top: 1000px;
}

#album .main {
  margin: 0;
  width: 375px;
}

#album .main section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #edece6;
}

#album .main section .section_title {
  text-align: center;
  margin: 16px 0;
  padding-bottom: 10px;
}

#album .main section .section_title i {
  margin-right: 6px;
}

#album .main .logs_list_item {
  width: 100%;
}

#album .main .logs_image {
  height: 500px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  border-radius: 10px;
}

#album .main .logs_image_tag {
  display: block;
  background-color: #fffef8;
  width: 300px;
  z-index: 10;
  position: relative;
  top: calc(500px - 100px);
  border-top-right-radius: 10px;
  padding: 10px;
}

#album .main .logs_image_tag h3 {
  font-size: 0.8rem;
  color: #ffd54d;
}

#album .main .logs_image_tag .text {
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.6;
}

#album .main .logs_image_tag .place {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #444;
}

#album .main .logs_image_tag .hashtag_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#album .main .logs_image_tag .hashtag_list_item {
  color: #666;
  font-size: 0.8rem;
  margin-right: 4px;
}

#album .main .logs_image_01 {
  background-image: url("../img/top.jpeg");
}

#album .main .logs_image_02 {
  background-image: url("../img/oneyear.jpeg");
}

#album .main .logs_image_03 {
  background-image: url("../img/tranporin.JPG");
}

#album .main .logs_image_04 {
  background-image: url("../img/azisai.JPG");
}

#album .main .logs_image_05 {
  background-image: url("../img/kourankei.jpeg");
}

#album .main .logs_image_06 {
  background-image: url("../img/kimono.jpeg");
}

#album .main .logs_image_07 {
  background-image: url("../img/sakushima.jpeg");
}

#album .main .logs_image_08 {
  background-image: url("../img/syounairyokuti.jpeg");
}

#album .main .logs_image_09 {
  background-image: url("../img/shibahu.jpeg");
}

#album .main .logs_image_10 {
  background-image: url("../img/record.PNG");
}

#album .main .logs_list_item {
  margin-bottom: 100px;
}

#album .main .link_button_top {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ffd54d;
  border-radius: 10px;
  background-color: #ffd54d;
  color: #fffef8;
}

#album .main .link_button_top .link_icon {
  margin-right: 6px;
}

#event .main {
  margin: 0;
  width: 375px;
}

#event .main section {
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 10px;
  padding-bottom: 40px;
  margin-bottom: 40px;
  border-top: 1px solid #edece6;
}

#event .main section .section_title {
  text-align: center;
  margin: 16px 0;
  padding-bottom: 10px;
}

#event .main section .section_title i {
  margin-right: 6px;
}

#event .main .event_list_item {
  width: 100%;
}

#event .main .event_image {
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  background-size: cover;
  border-radius: 10px;
}

#event .main .event_image_tag {
  display: block;
  background-color: #fffef8;
  width: 300px;
  z-index: 10;
  position: relative;
  top: calc(240px - 100px);
  border-top-right-radius: 10px;
  padding: 10px;
}

#event .main .event_image_tag h3 {
  font-size: 0.8rem;
  color: #ffd54d;
}

#event .main .event_image_tag .text {
  font-size: 1.0rem;
  font-weight: bold;
  line-height: 1.6;
}

#event .main .event_image_tag .place {
  font-size: 0.8rem;
  line-height: 1.6;
  color: #444;
}

#event .main .event_image_tag .hashtag_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

#event .main .event_image_tag .hashtag_list_item {
  color: #666;
  font-size: 0.8rem;
  margin-right: 4px;
}

#event .main .event_image_01 {
  background-image: url("../img/usj.jpeg");
}

#event .main .event_image_02 {
  background-image: url("../img/twoyears.jpg");
}

#event .main .event_image_03 {
  background-image: url("../img/christmas02.jpeg");
}

#event .main .event_image_04 {
  background-image: url("../img/haginaka.JPG");
}

#event .main .event_image_05 {
  background-image: url("../img/naiteishiki.JPG");
}

#event .main .event_list_item {
  margin-bottom: 120px;
}

#event .main .link_button_top {
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  width: 90%;
  margin: 0 auto;
  border: 1px solid #ffd54d;
  border-radius: 10px;
  background-color: #ffd54d;
  color: #fffef8;
}

#event .main .link_button_top .link_icon {
  margin-right: 6px;
}
/*# sourceMappingURL=style.css.map */