* {
    margin: 0;
    padding: 0;
}

body {
    height: 100%;
    width: 375px;
    margin: 0 auto;
    font-size: 15px;
    background-color: $backgroundColor;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
    color: #000;
    @include loading_animation;
}

h1 {
    margin: 0;
}

p,
li {
    line-height: 2rem;
}

a {
    text-decoration: none;
    color: #000;
}

li {
    list-style: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}

.header {
    height: 60px;
    z-index: 3;
    &_left {
        .title {
            position: fixed;
            top: 20px;
            left: 20px;
            font-size: 20px;
            line-height: 1em;
            float: left;
            z-index: 3;
        }
    }
    &_right {
        float: right;
        z-index: 3;
        @include hamburgerMenu;
    }
    .clear {
        clear: both;
    }
}

.footer {
    position: relative;
    text-align: center;
    &_image {
        width: 30%;
        position: relative;
        top: 100px;
        filter: drop-shadow(0 0 0.3rem rgb(0, 0, 0));
    }
    &_text {
        color: $gray_01;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        position: relative;
        top: 100px;
        padding-bottom: 10px;
    }
}