* {
    margin: 0;
    padding: 0;
}

body {
    width: 375px;
    margin: 0 auto;
    font-size: 15px;
    background-color: $backgroundColor;
    line-height: 1.5;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    margin: 0;
}

p,
li {
    line-height: 2rem;
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

p {
    font-family: Arial, Helvetica, sans-serif;
    letter-spacing: 0;
}