.main {
    margin: 0;
    width: 375px;
    section {
        width: $contentWidth;
        height: 100%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: $sectionBottomSpace;
        margin-bottom: $sectionBottomSpace;
        border-top: $border;
        @include section_title;
    }
    .event {
        @include event_list;
        &_list_item {
            margin-bottom: 120px;
        }
    }
    .link_button_top {
        @include link_button_top;
    }
}