@mixin link_button($buttonPositionTop) {
    position: absolute;
    top: $buttonPositionTop;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    width: 100%;
    margin: 0 auto;
    border: 1px solid $yellow;
    border-radius: $borderRadius;
    background-color: $yellow;
    color: $backgroundColor;
    .link_icon {
        margin-right: 6px;
    }
}