@mixin hamburgerMenu {
    .menu-btn {
        position: fixed;
        right: 10px;
        display: flex;
        height: 60px;
        width: 60px;
        justify-content: center;
        align-items: center;
        z-index: 90;
    }
    .menu-btn span,
    .menu-btn span:before,
    .menu-btn span:after {
        content: '';
        display: block;
        height: 3px;
        width: 25px;
        border-radius: 3px;
        background-color: #000;
        position: absolute;
    }
    .menu-btn span:before {
        bottom: 8px;
    }
    .menu-btn span:after {
        top: 8px;
    }
    #menu-btn-check:checked~.menu-btn span {
        background-color: rgba(255, 255, 255, 0);
        /*メニューオープン時は真ん中の線を透明にする*/
    }
    #menu-btn-check:checked~.menu-btn span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    #menu-btn-check:checked~.menu-btn span::after {
        top: 0;
        transform: rotate(-45deg);
    }
    #menu-btn-check {
        display: none;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 80;
        background-color: #3584bb;
    }
    .menu-content ul {
        padding: 70px 10px 0;
    }
    .menu-content ul li {
        border-bottom: solid 1px #ffffff;
        list-style: none;
    }
    .menu-content ul li a {
        display: block;
        width: 100%;
        font-size: 15px;
        box-sizing: border-box;
        color: #ffffff;
        text-decoration: none;
        padding: 9px 15px 10px 0;
        position: relative;
    }
    .menu-content ul li a::before {
        content: "";
        width: 7px;
        height: 7px;
        border-top: solid 2px #ffffff;
        border-right: solid 2px #ffffff;
        transform: rotate(45deg);
        position: absolute;
        right: 11px;
        top: 16px;
    }
    .menu-content {
        width: 100%;
        height: 100%;
        position: fixed;
        top: 0;
        left: 100%;
        /*leftの値を変更してメニューを画面外へ*/
        z-index: 80;
        background-color: #3584bb;
        transition: all 0.5s;
        /*アニメーション設定*/
    }
    #menu-btn-check:checked~.menu-content {
        left: 0;
        /*メニューを画面内へ*/
    }
}

@mixin logs_list {
    .logs_list_item {
        display: block;
        .logs_image {
            display: block;
            object-fit: cover;
            background-size: cover;
            height: 500px;
            background-image: url("../img/top.jpeg");
            border-radius: 10px;
            z-index: 1;
            &_tag {
                display: block;
                background-color: $backgroundColor;
                width: 300px;
                z-index: 2;
                position: relative;
                top: 400px;
                border-top-right-radius: 10px;
                padding: 10px;
                h3 {
                    font-size: 0.8rem;
                    color: $yellow;
                }
                .text {
                    font-size: 1.0rem;
                    font-weight: bold;
                    line-height: 1.6;
                }
                .place {
                    font-size: 0.8rem;
                    line-height: 1.6;
                    color: $gray_01;
                }
                .hashtag_list {
                    display: flex;
                    &_item {
                        color: $grai;
                        font-size: 0.8rem;
                        margin-right: 4px;
                    }
                }
            }
        }
    }
}