.header {
    height: 60px;
    z-index: 3;
    &_left {
        .title {
            position: fixed;
            top: 20px;
            left: 20px;
            font-size: 20px;
            line-height: 1em;
            float: left;
            z-index: 3;
        }
    }
    &_right {
        float: right;
        z-index: 3;
        @include hamburgerMenu;
    }
    .clear {
        clear: both;
    }
}

.main {
    margin: 0;
    width: 375px;
    section {
        width: $contentWidth;
        height: 100%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: $sectionBottomSpace;
        margin-bottom: $sectionBottomSpace;
        border-top: $border;
        @include section_title;
    }
    .logs {
        position: relative;
        @include logs_list;
        @include list_animation;
        .link_button_album {
            @include link_button(600px);
        }
    }
    .event {
        position: relative;
        top: 640px;
        @include event_list;
        @include list_animation;
        .link_button_news {
            @include link_button(380px);
            // width: 100%;
        }
    }
    .post {
        position: relative;
        top: 1000px;
        .link_button_post {
            @include link_button(200px);
            // width: 100%;
        }
    }
}