.main {
    margin: 0;
    width: 375px;
    section {
        width: $contentWidth;
        height: 100%;
        margin: 0 auto;
        padding-top: 10px;
        padding-bottom: $sectionBottomSpace;
        margin-bottom: $sectionBottomSpace;
        border-top: $border;
        @include section_title;
    }
    .logs {
        position: relative;
        @include logs_list;
        @include list_animation;
        .link_button_album {
            @include link_button(600px);
        }
    }
    .event {
        position: relative;
        top: 640px;
        @include event_list;
        @include list_animation;
        .link_button_news {
            @include link_button(400px);
        }
    }
    .post {
        position: relative;
        top: 1000px;
        &_image {
            margin-bottom: 20px;
            width: 100%;
            opacity: 0.7;
            height: 300px;
            background-repeat: no-repeat;
            background-size: cover;
            border-radius: $borderRadius;
            &_title {
                color: $backgroundColor;
                opacity: 1;
                text-align: center;
                position: relative;
                top: 100px;
                font-size: 2rem;
                background-color: rgba($color: #000000, $alpha: 0.6);
                padding: 1rem 0;
                width: 96%;
                border-top-right-radius: $borderRadius;
                border-bottom-right-radius: $borderRadius;
                &_orange {
                    color: #e29c05;
                }
            }
        }
        &_image_01 {
            background-image: url("../img/tsurugi.jpeg");
        }
        &_image_02 {
            background-image: url("../img/camp.jpg");
        }
        .link_button_post {
            @include link_button(730px);
        }
    }
}

.footer {
    top: 1000px;
}