.header {
    border-bottom: $border;
    height: 60px;
    z-index: 3;
    &_left {
        .title {
            position: fixed;
            top: 20px;
            left: 20px;
            font-size: 20px;
            line-height: 1em;
            float: left;
            z-index: 3;
        }
    }
    &_right {
        float: right;
        z-index: 3;
        @include hamburgerMenu;
    }
    .clear {
        clear: both;
    }
}

.main {
    margin: 20px 0;
    width: 100%;
    section {
        width: $contentWidth;
        margin: 0 auto;
        padding-bottom: $sectionBottomSpace;
        margin-bottom: $sectionBottomSpace;
        border-bottom: $border;
    }
    .logs {
        @include logs_list;
    }
    .link_button {
        @include link_button;
    }
}