.header {
    border-bottom: $border;
    height: 60px;
    z-index: 3;
    &_left {
        .title {
            position: fixed;
            top: 20px;
            left: 20px;
            font-size: 20px;
            line-height: 1em;
            float: left;
        }
    }
    &_right {
        float: right;
        @include hamburgerMenu;
    }
    .clear {
        clear: both;
    }
}

.main {
    margin: 20px 0;
    width: 100%;
    .logs {
        width: 90%;
        margin: 0 auto;
        @include logs_list;
    }
}